.pagination-wrapper .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pagination-wrapper .pagination li {
    margin: 0 5px;
}

.pagination-wrapper .pagination li a,
.pagination-wrapper .pagination li span {
    color: #333;
    font-size: 16px;
    padding: 0; /* Loại bỏ padding để thu nhỏ kích thước */
    width: 30px;
    height: 30px;
    line-height: 30px; /* Căn giữa số và mũi tên */
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s;
    border-radius: 50%; /* Tạo hình tròn */
}

.pagination-wrapper .pagination li a:hover {
    color: #ff4d4d; /* Màu khi hover */
}

.pagination-wrapper .pagination .active span {
    color: #ff4d4d; /* Màu cho trang hiện tại */
    font-weight: bold;
    background-color: #ffffff; 
}

.pagination-wrapper .pagination li:first-child a::before {
    content: '\2190'; /* Mũi tên trái */
}

.pagination-wrapper .pagination li:last-child a::before {
    content: '\2192'; /* Mũi tên phải */
}

.pagination-wrapper .pagination li a,
.pagination-wrapper .pagination li span {
    border: none; /* Xóa đường viền */
    color: #333;
    font-weight: normal;
}

.pagination-wrapper .pagination li a:hover,
.pagination-wrapper .pagination .active span {
    color: #ff4d4d; /* Màu cho nút hiện tại */
}
.spor{
    height: 30px;
    max-width:200px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    margin-right: 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease 0s;
}

.spor a {
    color: #333;
    font-size: 16px; /* Giảm kích thước biểu tượng */
    display: flex;
    align-items: center;
    position: relative;
}

.spor a:not(:last-child)::after {
    content: "";
    height: 16px; /* Giảm chiều cao của đường phân cách */
   
    background-color: #ddd;
    position: absolute;
    right: -5px; /* Giảm khoảng cách của đường phân cách */
}
/* product */
.product-info h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    white-space: nowrap;
    height: 3rem; 
    overflow: hidden; /* Ẩn phần dư */
    text-overflow: ellipsis; /* Thêm dấu "..." khi quá dài */
    cursor: pointer;
}
.product-info h4:hover {
    transform: scale(1.05);
}